doctype html
block vars
  - var page = ""
  - BASEURL = ".."
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="#{BASEURL}/css/components/bootstrap.css",rel="stylesheet")
    link(href="#{BASEURL}/css/form.css",rel="stylesheet")
    block head
  body(id=page)
    .wrapper
      .content
        block content
    script(src="#{BASEURL}/js/libs/jquery-1.9.1.min.js")
    script(src="#{BASEURL}/js/libs/responsive.min.js")
    block js

